/*
    COLORES GLOBALES
*/
:root{
    --fondoMenuFooter: #232A34;
    --fondoBotones: #F4AD24;
    --fondoBarMenu: #505865;
    --colorTitulos: #333C4E;
    --colorSubtitulos: #F2F2F2;
    --colorCuerpo: #7e8890;
    --blanco: #fff;
    --negro: #000;
    --secciones : #1C212A;
    --letraTitulo: "Montserrat", Arial, Sans-serif;
    --letraSubtitulo: "Lato", Arial, Sans-serif;
    --letraCuerpo: "Open Sans", Arial, Sans-serif;
}
/*
    ESTILOS GLOBALES
*/
*,
*:before,
*:after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5% /*Ahora 1rem equivale a 10px */    
}

body{
    font: normal 16px "Open Sans", Arial, Sans-serif;
}
/*
    ESTILOS SITUACIONALES
*/
a{
    text-decoration: none;
    color: var(--blanco)
}
ul{
    list-style:none;
    padding: 0;
}

.boton{
    background: var(--fondoBotones);
    padding: .9rem 2rem;
    border-radius: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: var(--letraTitulo);
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 14px;
}
/*
    MENU LATERAL FIJO, MODELO RESPONSIVE
*/
.menu-lateral{
    background: var(--fondoMenuFooter);
    position: fixed;
    top: 0;
    width: 100vw;
}
.menu-lateral .cabecera-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    color: var(--blanco);
    padding: 0 3rem;
}
.menu-lateral .logo{
    width: 60%;
}
.menu-lateral .logo p{
    font-size: 1.5rem;
    color: var(--fondoBarMenu);
}
.menu-lateral .logo p span{
    font-size: 2rem;
    color: var(--blanco);
}
.menu-lateral .bar-menu{
    color: var(--fondoBarMenu);
    font-size: 2.1rem;
    cursor: pointer;
    display: block;
}

@media only screen and (min-width: 800px){
    .menu-lateral{
        left: 0;
        width: 215px;
        height: 100%;
    }
    .menu-lateral .cabecera-menu{
        height: 172px;
        background: #2B333E;
    }
    .menu-lateral .bar-menu{
        display: none;
    }
    
}

/* 
    ITEMS MENÚ
*/
.menu-lateral .items-menu{
    background: var(--fondoMenuFooter);
    width: 100%;
    margin:0;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform .2s ease-in-out;
    z-index:1;
}
.menu-lateral .items-menu.active{
    transform: scaleY(1);
}
.menu-lateral .items-menu li{
}
.menu-lateral .items-menu li:nth-child(odd){
    background: #252c38;
}
.menu-lateral .items-menu li i{
    display: none;
}
.menu-lateral .items-menu li a{
    font-family: var(--letraSubtitulo);
    color: var(--fondoBarMenu);
    line-height: 50px;
    border-bottom: 1px solid rgba(80,88,101,0.2);
    display: block;
    padding: 0 1.2rem 0 3rem;
    height: 50px;
}
section{
    height: 200vh;
}

@media only screen and (min-width: 800px){
    .menu-lateral .items-menu{
        transform: scaleY(1);
        
    }
    .menu-lateral .items-menu li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem 4rem;
        border-bottom: 1px solid rgba(80,88,101, 0.2);
        
    }
    .menu-lateral .items-menu li:hover i,
    .menu-lateral .items-menu li:hover a{
        color: var(--fondoBotones)
    }
    .menu-lateral .items-menu li i{
        display: inline-block;
        font-size: 3rem;
        text-align: center;
        color: var(--fondoBarMenu);
        margin-bottom: 1rem;
        transition: color .25s ease-in;
    }
    .menu-lateral .items-menu li i.active{
        color: var(--fondoBotones);
    }
    .menu-lateral .items-menu li a.active{
        color: var(--fondoBotones);
    }
    .menu-lateral .items-menu li a{
        font-family: var(--letraTitulo);
        text-align: center;
        padding: 0;
        border:none;
        line-height: normal;
        font-size: 1.5rem;
        height: auto;
        transition: color .25s ease-in;
    }
    .menu-lateral .items-menu li:nth-child(odd){
        background: transparent;
    }
}


/*
    PORTADA 
*/
main.portada{
    margin-top: 94px;
    height: 100vh;
    background: url(../media/portada.jpg) 54% center;
    background: linear-gradient(to right, rgba(0,0,0,.6), rgba(255,255,255,.4)), url(../media/portada.jpg) 54% center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.portada .titulo-portada{
    width: 80%;
    font-family: var(--letraTitulo);
    color: var(--blanco);
    text-transform: uppercase;
}
main.portada .titulo-portada h1{
    font-size: 2.713rem;
    line-height: 2.8rem;
    margin-bottom: 2.8rem;
}
main.portada .titulo-portada  p{
    font-weight: 700;
    margin-bottom: 5.6rem;
}
main.portada .titulo-portada a i{
    font-size: 1.6rem;
    vertical-align: middle;
}

@media only screen and (min-width: 800px){
    main.portada{
        margin-top: 0;
        margin-left: 215px;
    }
    main.portada .titulo-portada h1{
        width: 75%;
        font-size: 6.193rem;
        line-height: normal;
    }
}